.cardBgTop {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, #0b0b0b 0, rgba(255, 255, 255, 0) 100%);
}

.cardBgBottom {
  background: rgb(255, 254, 253);
  background: linear-gradient(180deg, #0b0b0b 0, rgba(255, 255, 255, 0) 30%);
}

.cardBgLeft {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, #0b0b0b 0, rgba(255, 255, 255, 0) 30%);
}
.cardBgRight {
  background: rgb(255, 255, 255);
  background: linear-gradient(270deg, #0b0b0b 0, rgba(255, 255, 255, 0) 30%);
}

.titleShadow {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.buttonShadow {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
