.cardBgTop {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, #111 0, rgba(255, 255, 255, 0) 100%);
}

.cardBgBottom {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, #111 0, rgba(255, 255, 255, 0) 30%);
}

.cardBgLeft {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, #111 0, rgba(255, 255, 255, 0) 30%);
}
.cardBgRight {
  background: rgb(0, 0, 0);
  background: linear-gradient(270deg, #111 0, rgba(255, 255, 255, 0) 30%);
}

.titleShadow {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.buttonShadow {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
